@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display&display=swap');

*{
    font-family:inter; 
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    height: 100%;
}

.header-sektion{
    width: 100%;
    height: 6em;
    display: flex;
}

.logga-kontainer{
    width: fit-content;
    height: 100%;
    display: flex;
    padding-left: 3em;
}

.logga{
    height: 2em;
    align-self: center;
}

.navbar{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar ul{
   display: flex;
}

.navbar li{
    list-style: none;
    padding-right: 20px;
}

.navbar a{
    color: rgb(9, 19, 19);
    text-decoration: none;
}


/* Här börjar Hero sektionen*/

.filter{
    width: 100vw;
    height: 80vh;
    background-color: rgba(29, 28, 28, 0.395);
}
.hero-sektion{
    width: 100vw;
    height: 80vh;
    text-align: center;
    margin-bottom: 0.8em;

    background-image: url(/img/massage-g990aab699_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
}



.rubrikh1{
    font-weight: 600;
    padding-top: 13em;
    
}
.rubrikh2{
    margin-top: 0.3em;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.2vw;
}
.rubrikh4{
    margin-top: 0.3em;
    font-weight: 500;
}


.heroButton1{
    margin-top: 1.6em;
    padding: 1.3em;
    background-color: black;
    color: aliceblue;
    border: none;
}
.heroButton2{
    padding: 1.3em;
    background-color: black;
    color: rgb(242, 248, 253);
    border: none;
}

@media only screen and (max-width: 700px) {
    .navbar li{
        padding-right: 7px;
        font-size: 11.2px; 
    }

    .rubrikh2{
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.3vw;
    }
    .sektion1-flexbox{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        gap:0.8em;
    }
    .sektion3-flexbox{
        display: flex;
        flex-wrap: wrap;
    }

  }


/* Här börjar flex kontainer med kort  */

/* Sketion 1 Behandlingar och Om oss  */

.sektion1-flexbox{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:0.8em;
}

.sektion1-kort1{
    width: 100vw;
    height: 400px;
    background-image: url(/img/essential-oils-g1cca6cf92_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


.sektion1-kort2{
    width: 100vw;
    height: 400px;
    border-radius: 3px;
    display: flex;
    justify-content: center;

    background-image: url(/img/cosmetic-g49976b096_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.sektion1-text1{
    padding-top: 6em;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.sektion1-text2{
    font-size: 30px;
    padding-top:6em;
    color: rgb(255, 255, 255);
}

/* Sketion 2 Salongen  */

.sektion2-flexbox{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
}

.sektion2-kort{
    width:100vw;
    height:600px;
    margin:0.5em 0 0.5em 0;
    border-radius: 3px;
    
    background-image: url(/img/wellness-gba83e3a98_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.sektion2-text{
    padding-top: 5em ;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

/* Sektion 3 priser, produkter, kontakter  */
.sektion3-flexbox{
    display: flex;
    justify-content: center;
    gap: 0.5em;
    text-align: center;
}

.sektion3-kort1{
    width:100vw;
    height:400px;
    border-radius: 3px;

    background-image: url(img/woman-g6a4ccabd1_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.sektion3-kort2{
    width:100vw;
    height:400px;
    border-radius: 3px;

    background-image: url(img/essential-oils-gd81310856_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.sektion3-kort3{
    width:100vw;
    height:400px;
    border-radius: 3px;

    background-image: url(img/stone-g79ff6bedc_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.sektion3-text{
    padding-top: 7em;
    color: rgb(255, 255, 255);
    font-size: 24px;
}





/* Footer börjar här  */

footer{
    width:100vw;
    padding: 5em 0 100px 0;
    margin-top: 11em;
    background-color: rgb(36, 120, 120);
    display: flex;
}

.footer-kontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}

/* Socialamedier */

.footer-socialamedier{
    padding: 1em;
}

.footer-socialamedier ul li{
    list-style: none;
}

.footer-socialamedier ul li a{
    text-decoration: none;
    color: black;
}

/* Dagar  */

.footer-dagar{
    padding: 1em;
}
.footer-dagar ul li{
    list-style: none;
}

/* Kontakt */
.footer-kontakt{
    padding: 1em;
}
.footer-kontakt ul li{
    list-style: none;
}

/* Epost och telefon */

.footer-eposttelefon{
    margin-top: 0.4em;
}
.footer-eposttelefon a{
    text-decoration: none;
    color: black;
}

#rubrik-footer{
    margin: 0 0 0.5em 0; 
}







